{% extends "views/skeleton.twig" %}

{% block content %}
    <div class="container-fluid min-vh-100 d-flex justify-content-center align-items-center">
        <div class="container d-flex justify-content-center align-items-center">
            <div class="text-center font-monospace">
                <h1 class="fst-italic">{{ title }} </h1>
                <h3 class="text-muted">{{ desc }}</h3>
                <button class="btn btn-lg btn-outline-dark mt-4">Get started</button>
            </div>
        </div>
    </div>
{% endblock %}
