<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ assets({files: ['assets/css/bootstrap/bootstrap.min.css'] }) }}
    {# {{ assets({files: ['assets/css/bootstrap-icons/bootstrap-icons.css'] }) }} <- bootstrap-icons does not work rn #}
    <title>{{ title }}</title>
</head>
<body>
    <h3>
        {{ desc }}
    </h3>
</body>
</html>
